<h1>Editing friendapp</h1>

<%= render "form", friendapp: @friendapp %>

<br>

<div>
  <%= link_to "Show this friendapp", @friendapp %> |
  <%= link_to "Back to friendapps", friendapps_path %>
</div>
